.App {
    text-align: center;
}

.movie-selection {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movie {
    align-items: center;
    margin-bottom: 2rem;
    cursor: pointer;
}

.movie-poster {
    border-radius: 20px;
    height: 300px;
}

.movie-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.screen-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.screen-selection .screen {
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s;
}

.screen-selection .screen:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.screen-selection .screen.selected {
    background-color: #007bff;
    color: white;
}

.screen-selection .screen:not(.available) {
    background-color: #ccc;
    color: #444;
    cursor: not-allowed;
}

.screen-selection .screen-number {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.screen-selection .screen-time {
    font-size: 1.2rem;
    color: #aaa;
    margin-bottom: 1rem;
}
.screen-selection .screen-seats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screen-selection .screen-seats .seat{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 10px 0;
  }
  
  .nav-list li {
    margin: 0;
  }
  
  .nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-list a:hover {
    color: #ff8000;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    list-style: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content li {
    padding: 10px;
    border-bottom: 1px solid #333;
    background: #333;
  }
  
  .dropdown-content li:last-child {
    border-bottom: none;
  }
  
  /* Existing styles ... */
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo h1 {
    font-size: 1.5rem;
  }

.screen-selection .screen-seats .seat.selected {
    background-color: #007bff;
    color: white;
}

.screen-selection .screen-seats .seat:not(.available) {
    background-color: #ccc;
    color: #444;
    cursor: not-allowed;
}
